.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__form {
  width: 80%;
  flex-grow: 5;
}

.book {
  display: flex;
  color: #4d4747;
  margin-bottom: 0.5rem;
}

.book__thumbnail {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.book__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #white;
  overflow: hidden;
}

.book__info--explicit {
  background: rgba(182, 21, 64, 0.4);
}

.book__name {
  font-weight: 700;
}

.book__artist {
  font-size: 1.2rem;
}
