.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__form {
  flex-grow: 1;
}

.album {
  display: flex;
  color: #fefefe;
  margin-bottom: 0.5rem;
}

.album__thumbnail {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.album__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #201f2f;
  overflow: hidden;
}

.album__info--explicit {
  background: rgba(182, 21, 64, 0.4);
}

.album__name {
  font-weight: 700;
}

.album__artist {
  font-size: 1.2rem;
}
