.Chat {
  background-color: #87bba6db;
  width: 40vw;
  margin-left: 48vw;
  font-size: 1em;
  border-radius: 0.7em;
  padding: 1.5em;
}

.input_chat {
  width: 30vw;
  margin-right: -12vw;
  margin-top: 2vw;
  color: rgba(0, 0, 0, 0.75);
}

.chat_submit {
  width: 9vw;
  margin-left: 13.5vw;
  margin-bottom: 1vw;
  color: #f7882f;
  font-weight: 700;
}

.chat_header {
  background-color: #c8e8ba;
  border-radius: 0.2em;
  color: #462626;
  font-size: 1.8em;
  text-align: center;
  font-weight: 700;
}
