body {
  overflow-x: hidden;
  font-family: "Arvo";
  color: white;
  background-color: white;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.offset:before {
  display: block;
  content: "";
  height: 8rem;
  margin-top: -2rem;
}

/*--- Navigation ----*/
.navbar {
  background-color: rgba(58, 35, 26, 0.4) !important;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 1px black;
}

.navbar-nav {
  align-items: center;
}

.bookmate_logo {
  margin-top: -7em;
  margin-bottom: -15em;
  width: 50em;
  height: 8em;
}

.navbar-nav li {
  padding-right: 1em;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-transform: none;
  font-size: 2.5em;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

/*--- home page background ---*/

.home-inner {
  background-image: url(../docs/Homepage_img.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
  text-transform: none;
  padding-top: 5em;
}

.home_h1 {
  font-size: 5em;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 2px black;
  text-transform: none;
}

#get_started_btn {
  border-width: medium;
  border-radius: 0;
  font-size: 3em;
}

.form_get_started {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding-right: 40%;
  padding-left: 40%;
}

/*---- About us section -----*/

#about {
  color: #4d4747;
  margin-bottom: 4em;
  font-size: 2em;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
}

.homepage_subh1 {
  color: #4d4747;
  text-transform: none;
  font-weight: 500;
  margin: 0.67em 0;
}

#about .about-underline {
  width: 6rem;
  height: 0.15rem;
  background-color: rgb(167, 120, 19);
  margin: 0 auto 3rem;
}

/*------ Purpose section ------*/

.jumbotron {
  color: #4d4747;
  margin: 0;
  padding: 3rem 0 3rem;
  border-radius: 0;
  font-size: 2em;
}

.homepage_sub2h1 {
  text-transform: none;
  font-weight: 700;
  margin: 0.67em 0;
  font-size: 2em;
}

.jumbotron .purpose-heading {
  margin-bottom: 2rem;
}

#purpose .purpose-underline {
  width: 6rem;
  height: 0.1rem;
  background-color: rgb(167, 120, 19);
  margin: 0 auto 3rem;
}

.each-purpose img {
  height: 10em;
}

/*---- How it works section -----*/
.jumbotron_works {
  color: #4d4747;
  margin: 0;
  padding: 3rem 0 3rem;
  border-radius: 0;
  font-size: 2em;
}

.homepage_sub3h1 {
  text-transform: none;
  font-weight: 700;
  margin: 0.67em 0;
  font-size: 2em;
}

.jumbotron_works .works-heading {
  margin-bottom: 2rem;
}

#works .works-underline {
  width: 6rem;
  height: 0.15rem;
  background-color: rgb(167, 120, 19);
  margin: 0 auto 4rem;
}

.homepage_mid_img {
  width: 100%;
}

/*---- Feature section -----*/
.homepage_sub4h1 {
  text-transform: none;
  font-weight: 700;
  margin: 0.67em 2em;
  font-size: 2em;
}

.jumbotron .features-heading {
  margin-bottom: 2rem;
}

#features .features-underline {
  width: 6rem;
  height: 0.1rem;
  background-color: rgb(167, 120, 19);
  margin: 0 auto 4rem;
}

/*---- Contact section -----*/

#contact {
  font-size: 2em;
}

footer {
  font-weight: 500;
  color: white;
  background-color: gray;
}

footer h1 {
  color: white;
}

footer .svg-inline--fa {
  color: white;
}

hr.socket {
  width: 100%;
  border-top: 0.2em solid #9ba2ab;
  margin-top: 3em;
}

/*---- Media Queries -----*/

@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.5em;
    letter-spacing: 0.1rem;
  }

  .each-feature h3 {
    font-size: 1.2em;
  }
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
