body {
  background-color: #efedea;
}
.library-item {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  background-color: #efedea;
  color: #4d4747;
  justify-content: space-around;
  height: 10em;
  background-color: #fefefe;
  border-radius: 1em;
  margin-left: 16.5em;
  width: 45%;
  position: relative;
  top: -32em;
  right: -40em;
}

.book_name {
  font-weight: bold;
  font-size: large;
}

.add-book {
  border: 2px solid#f7882f;
  background-color: #f7882f;
  color: #ffffff;
  font-weight: bold;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 2em;
  margin-top: 3.5em;
}

img {
  width: 6em;
  height: 8em;
  margin-top: 1em;
}

.book-info {
  margin-top: 3.5em;
}

.add_to_library {
  width: 14%;
  position: relative;
  right: -38em;
  top: -31em;
  background-color: #f7882f;
  font-weight: 700;
  color: #ffffff;
}
