.library-item {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  color: #4d4747;
  justify-content: space-between;
  align-items: center;
  height: 6vw;
  background-color: #fefefe;
  border-radius: 1em;
  margin-left: 45vw;
  margin-right: 9vw;
  padding: 0em 8em 0em 8em;
}

.book_name {
  font-weight: bold;
  font-size: 2em;
}

.add-book {
  border: 2px solid#87bba6db;
  background-color: #87bba6db;
  color: #ffffff;
  font-weight: bold;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 2em;
  font-size: 1.6em;
}

.book_item_img {
  width: 3.3vw;
  height: 4vw;
}

.add_to_library {
  background-color: #27080894;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  top: -1vw;
  right: -75vw;
  font-size: 2em;
}

.book-info {
  text-align: center;
}
