main {
  width: 60vw;
  margin-left: 30vw;
  margin-top: 2vw;
}

.add_header {
  color: #482a2ac2;
  font-family: "Arvo";
  font-weight: 700;
  font-size: 3em;
  margin-left: 54vw;
}

.sort_select {
  background-color: #f7882f;
  color: white;
  border-color: white;
  display: block;
  font-size: 1.8em;
  margin-top: -1.2vw;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 17vw;
  margin-bottom: 3vw;
}

.search__form {
  flex-grow: 5;
}

input:focus {
  outline: none;
}

.radius {
  border-radius: 0.5rem;
  background-color: white;
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  color: #4d4747;
  font-weight: 700;
  font-size: 2rem;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: 1rem 50%;
  width: 38vw;
}

.book {
  display: flex;
  color: #4d4747;
  margin-bottom: 0.5vw;
  padding: 4em;
  background: #c7d0d8;
  justify-content: space-between;
  align-items: center;
  margin-left: 13vw;
  border-radius: 1em;
  height: 5.5vw;
  width: 50vw;
}

.book__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 50%;
  border-radius: 0.5rem;
  background: #f8f4ed;
  overflow: hidden;
}

.book__name {
  font-weight: 700;
  font-size: 1.5em;
}

.book__artist {
  font-size: 500;
}
#add-button {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

img.book__thumbnail {
  width: 3vw;
  height: 4vw;
}

.result_border_line {
  width: 0.1em;
  height: 100%;
  background-color: #f8f4ed;
}

.btn_done {
  border-radius: 0.2em;
  background-color: #f7882f;
  color: white;
  width: 4vw;
  height: 1.8vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 36vw;
  font-size: 2em;
}

.add_warning {
  color: red;
  font-weight: 400;
  font-size: 2em;
  margin-left: 33vw;
}

.start_exp {
  color: #482a2ac2;
  font-family: "Arvo";
  font-weight: 700;
  font-size: 3em;
  margin-left: 63vw;
}

.start_exp2 {
  color: #482a2ac2;
  font-family: "Arvo";
  font-weight: 400;
  font-size: 3em;
  margin-left: 59vw;
  margin-bottom: 2em;
}
