body {
  background-color: #efedea;
}
.login-box {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  background-color: #efedea;
  color: #4d4747;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: center;
}

input {
  border: none;
  border-bottom: 2px solid #4d4747;
  background-color: #efedea;
  margin-bottom: 1.5em;
}

input.submit {
  border: 2px solid#f7882f;
  border-radius: 4px;
  width: 90px;
  align-self: center;
  background-color: #f7882f;
  color: #ffffff;
  font-weight: bold;
}
