#profile-navbar {
  font-size: 2em;
  text-align: right;
  margin-right: 2em;
  margin-top: 1em;
}

.logged_in_as {
  color: #000000ba;
}

.logout-button {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #f7882f;
  color: white;
}
