#profile-navbar {
  justify-content: flex-end;
}

.logout-button {
  margin-left: 1em;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #f7882f;
  color: white;
}
