#profile-box {
  background-image: url(../docs/profile_background.jpg);
  width: 33vw;
  height: 52vh;
  margin-left: 5vw;
  margin-top: 2vw;
}

.profile_img {
  height: 25vw;
  padding: 9em;
  margin-left: -3.7vw;
}

.profile_username {
  margin-left: 20vw;
  margin-top: -18vw;
  font-weight: 700;
  font-size: 5em;
}

.profile_location {
  font-weight: 700;
  font-size: 3em;
  margin-left: 21.5vw;
  margin-top: 2vw;
}

.profile_creation {
  font-weight: 700;
  font-size: 2em;
  margin-left: 16.6vw;
  margin-top: 2vw;
}

.fa-map-marker:before {
  content: "\f041";
  margin-left: -1vw;
}

#about-me {
  background-color: #dea5007a;
  font-weight: 700;
  text-align: center;
  width: 33vw;
  margin-left: 5vw;
  position: relative;
  top: 24vw;
}

.about_me_heading {
  font-weight: 700;
  font-size: 3em;
}

.about_text {
  font-size: 2em;
  color: #000000b0;
}

.fa-comment-dots {
  content: "\f041";
  position: relative;
  right: 2.5em;
  top: 1.5em;
}

#contact-me {
  background-color: #dea5007a;
  font-weight: 700;
  text-align: center;
  width: 33vw;
  margin-left: 5vw;
  position: relative;
  top: 24.5vw;
}

.contact_me_heading {
  font-weight: 700;
  font-size: 3em;
}

.profile_header {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
  margin-top: -25vw;
  margin-left: 38vw;
}

.button_header {
  border: black;
  background-color: #f8f4ed;
  font-weight: 700;
  color: #f7882f;
  text-shadow: 2px 2px #a57b7b;
  font-size: 2.2em;
}

.header_underline {
  height: 0.2em;
  background-color: #0000002e;
  position: relative;
  top: 0.5vw;
  right: -43vw;
  width: 50vw;
}
